{% extends "layout.html" %}
{% block body %}
  <h1>{{ board.title }}</h1>
  <div class="container">
    {% for chapter in chapters %}
      <ul>
        <li>
          {{ chapter.name }}
          <ul>
            {% for lesson in chapter.lessons.all() %}
              <li>
                <p>{{ lesson.title }}</p>
                <p>{{ lesson.comment }}</p>
              </li>
            {% endfor %}
          </ul>
          {{ lesson.comment }}
      </ul>
    {% endfor %}
  </div>
{% endblock %}